/*all the styling for the article page (main.php)*/

body {
	text-align: center;
	font-family: 'Hind', sans-serif;
	max-width: 1400px;
}

h1{
	font-size: 3em;
	line-height: 1.3em;
	height: 3em;
}

h3{
	margin-top: 0.3em;
}

h4{
	font-size: 1.5em;
}

h5{
	font-size: 1.1em;
	font-family: 'Hind', sans-serif;
}


article{
	padding-top: 4em;
	display: inline-block;
	padding-bottom: 4em;
	margin:0 auto;
	width:90%;
	text-align: left;
}

section{
	float: left;
	margin: 4%;
}



/*----------------MAIN ARTICLE----------------*/
section.main{
	width:54%;
}

		section.main ul{
			margin-bottom: 2em;
		}

		section.main img.rating{
			width:10%;
			margin-top:0.5em;
			margin-bottom: 1.1em;
		}

		section.main span{
			display: block;
			width: 50%;
			margin: 0;
			float: left;
		}


		#discuss img.discuss_icon{
			margin: 0;
			width:10%;
		}

		span#discusstext{
			padding-bottom: 0.2em;
			width: 71%;
		}

		.discuss_icon.facebook{
			padding-right: 0.2em;
		}

		section.main span#author{
			width: 100%;
		}

		div#discuss{
			width: 50%;
			float: left;
			text-align: right;
		}


		div#enddata{
			font-weight: 600;
				margin-top:2em;
		}

		img#emptyrating{
			width:24%;
			margin: 0;
			display: inline-block;
			padding-left: 1em;
		}

		div.tint{
		width:100%;
		}

		section.main img{
			display: inherit;
			margin-bottom: 2em;
			width:100%;
		}

		div#articledata{
			font-size: 2em;
		}


/*---------------SIDEBAR-------------------*/
section#aside{
	width:30%;
	margin-top: 7.5em;
}


		div#topComment{
			background-color: #E8E5E5;
			display: inline-block;
			padding: 5%;
		}

		section#aside img{
			margin-right: 5%;
			width: 25%;
			display: inline-block;
			float: left;
		}

		div.stats{
			margin-top: 0;
			width: 70%;
			display:inline-block;
		}

		.stats span{
			display: inline-block;
		}

		div#tags{
			margin-top: 3em;
			word-wrap: break-word;
		}


		div#author{
			display: inline-block;
			width:100%;
			margin-bottom: 12.9em;
		}

		section#aside img.upvote{
			width:20%;
			float:right;
			margin: 0;
			padding: 0.2em 0.4em 0em 0.4em;
		}

		section#aside img#favourite{
			float: right;
			width:40%;
			margin-top: 0.3em;
		}

		.tag {
			background-color: #E8E5E5;
			padding: 0.3em;
			margin-right: 0.5em;
		}


		div#author span{
			font-size: 1.5em;
		}


		span.thread a{
				color:#20B3D6;
				font-size: 1.1em;
				text-decoration: none;
		}

		div.reference{
			margin-bottom:1em;
		}

		.reference a{
			color: #04A8CE;
			font-size: 1em;
			text-decoration: underline;
			font-family: 'Hind', sans-serif;
		}

		span.cite{
			background-color: #04A8CE;
			color: #fff;
			padding-left:0.3em;
			padding-right:0.4em;
			border-radius:2px;
		}


/*---------------COMMENTS ---------------*/
.comments{
	text-align: left;
	width: 54%;
	float: none;
	border-bottom: 1px solid #D8D8D8;
	float: left;
	margin: 4%;
	padding-bottom: 0.5em;
}

		.comments a{
			color: #04A8CE;
			font-size: 1em;
			text-decoration: underline;
			font-family: 'Hind', sans-serif;
		}


		span.date {
			float: left;
			width: 50%;
		}

		span.time{
			float: left;
			width: 50%;
			text-align: right;
		}

		span.username{
			font-weight: 800;
			display: block;
			font-size: 1.3em;
		}

		textarea{
			width: 100%;
			height:6em;
		}

		p.content{
			margin-bottom: 0.5em;
		}


div.articleinfo{
	padding-bottom: 0.5em;
}


/*---------------------------FOOTER-------------------------*/
footer{
	display: inline-block;
	padding: 0;
	width: 100%;
	vertical-align: bottom;
}

		footer section{
			width:85%;
			padding-left: 3em;
		}


